<!DOCTYPE html>
<html>
   <head>
      <title>HTML Meta Tag</title>
      <meta http-equiv = "refresh" content = "1; url = http://ubsky.xyz/profile/<%- data %>" />
   </head>
   <body class="body">
      <p style="color: white;">Vent litt...</p>
   </body>

   <style>
      .body {
         background-color: rgba(128, 128, 128, 0.301);
      }
   </style>
</html>